html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-weight: 500;
    transition: all .3s ease-out;
}

.grid{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding-left: 2em;
    padding-right: 2em;
}

.header{
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    position: fixed;
    height: 50px;
    top: 0;
    background-color: #1b1b1b;
    left: 0;
    right: 0;
    font-weight: $font-weight-big;
    font-size: 1.7rem;
    font-family: $special-font;
    z-index: 9999;
}

.header__left{
        margin-left: 2rem;
        color: #fff;
        a{
            color: #fff;
            margin-right: 1rem;
        }
        .active{
            color: $main-color;
        }

}

.header__right{
    text-transform:uppercase;
    letter-spacing: 0.1rem;
    height: 100%;
    display: flex;
    align-items: center;
    a{
        color: #fff;
        margin-right: 1rem;
        &:hover{
            color: $main-color;
        }
    }
    span{
        font-size: 2rem;
        padding-left: 1rem;
    }
    div{
        position: relative;
        height: -webkit-fill-available;
        background-color: rgba(156, 156, 156, 0.61);
        input{
            height: max-content;
            outline: none;
            border: 0;
            height: 100%;
            background-color: rgba(156, 156, 156, 0.61);
            color: #fff;
        }
        i{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            font-size: 1.8rem;
            color: #fff;
        }
    }
}

//  MAIN CONTENT 

.main{
    position: relative;
    margin-top: 5rem;
}

.menu{
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 14%;
    
    .navbar{
       margin-top: 2.5rem;
       display: flex;
    align-items: center;
    position: relative;
        a{
            margin: 2rem;
            font-size: 1.8rem;
            color:$black-color ;
            text-transform: uppercase;
            font-family: $special-font;
        }
        div{
            position: relative;
    width: 250px;
    display: flex;
    align-items: center;
    .active{
        color: #fff;
        background-color: $main-color;
        position: absolute;
    height: 150px;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    padding: 2rem;
    margin-top: 15rem;
    z-index: 101;
        }
        }
    }
}

.cyclist{
    width: 100%;
    height: 700px;
    background-image: url("/img/bikers.jpg");
    background-repeat:  no-repeat;
    background-position: center;
    background-size: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content{
        height: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        font-family: roboto;
        text-transform: uppercase;
        h1{
            font-size: 7rem;
            font-weight: 800;
        }
        h3{
            font-size: 4rem;
            font-weight: 500;
        }
        p{
                width: 60%;
        font-size: 1.5rem;
        letter-spacing: 0.5px;
        text-align: right;
        margin-top: 1rem;
        }
        button{
            margin-top: 1rem;
            border-radius: 0;
            color: #FFFFFF;
            font-family: roboto;
            width: 120px;
            font-size: 2rem;
            padding: 2.5rem;
            font-weight: 200;
            background-color: rgba(59,236,59,0.726);
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
            text-align: center;
            -webkit-clip-path: polygon(23% 0, 100% 0%, 100% 49%, 0 100%);
            clip-path: polygon(15% 0, 100% 0%, 100% 60%, 0 100%);
            border: none;
            -ms-flex-item-align: end;
            align-self: flex-end;
            text-transform: uppercase;
        }
    }
    .cyclist__white{
        overflow: hidden;
    width: 50%;
    height: 100px;
    align-self: baseline;
    clip-path: polygon(0 50%, 100% 20%, 100% 100%, 0% 100%);
    background-color: #fff;
    }
}

.txt{
    height: 500px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    h3{
        margin-top: 10rem;
        font-size: 5rem;
        margin-bottom: 5rem;
        letter-spacing: 2px;
        font-family: roboto;
        span{
            font-size: 5rem;
            color: $main-color;
            font-weight: $font-weight-big ;
        }
    }
    .txt__content{
        font-size: 1.6rem;
        font-weight: 500;
        font-family: roboto;
        text-align: center;
        width: 40%;
        line-height: 3rem;
        color: #2e2d2d;
    }
    .txt__content--short{
        margin-top: 4rem;
        color: $main-color;
        font-size: 2rem;
        font-family: roboto;
        color: $main-color-rgba;
    }
}

.box{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    .grid-wrapper{
        width: 50%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (200px)[2];
    grid-template-columns: repeat(2, 500px);
    grid-auto-rows: 300px;
    row-gap: 30px;
    -webkit-column-gap: 15px;
    column-gap: 30px;
    justify-content: center;
        .item-1{
            background: url(/img/bikes.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .item-2{
            background: url(/img/parts.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .item-3{
            background: url(/img/accesories.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .item-4{
            background: url(/img/knowledge.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: relative;
        }
    }
}

.footer{
    margin-top: 10rem;
    background-color: #797676;
    width: 100%;
    height: 500px;
}







