$main-color: rgb(59, 236, 59);
$black-color: rgb(27, 27, 27);
$font-weight-big: 700;
$default-font: arial, sans-serif;
$special-font: 'pt-sans', 'robot', arial, sans-serif;

$main-color-rgba: rgba(59, 236, 59, 0.781);